ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: darkgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Verdana", sans-serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    color: white;
}

a.paragraph:link {
    color: black;
    text-decoration: none;
}

a.paragraph:visited {
    color: black;
    text-decoration: none;
}

a.paragraph:hover {
    color: black;
    text-decoration: none;
}

a.paragraph:active {
    color: black;
    text-decoration: none;
}

h2 {
    text-align: center;
    font-family: "Verdana", sans-serif;
}

h1 {
    text-align: center;
    font-family: "Verdana", sans-serif;
}

p {
    text-align: center;
    font-family: "Verdana", sans-serif;
}

img {
    display: block;
    margin: auto;
    width: 50%;
}

p.works_cited {
    text-align: left;
    font-family: "Verdana", sans-serif
}

a.button:link, a.button:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: auto;
    width: 5%;
    font-family: "Verdana", sans-serif
}

a.button:hover, a.button:active {
    background-color: black
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

.paragraph_text_centered_full_page {
    margin: auto;
    padding: 10px;
    max-width: 90%;
    height: auto;
}